{
  "root": true,
  "env": {
    "browser": false,
    "es2121": false
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "rules": {
    "no-new": 2,
    "no-alert": 2,
    "no-shadow": 2,
    "no-console": 2,
    "react/jsx-key": 2,
    "import/no-cycle": 2,
    "arrow-body-style": 2,
    "react/prop-types": 2,
    "no-param-reassign": 2,
    "no-nested-ternary": 2,
    "default-param-last": 2,
    "no-use-before-define": 2,
    "no-underscore-dangle": 2,
    "no-extra-boolean-cast": 2,
    "react/button-has-type": 2,
    "no-restricted-exports": 2,
    "react/no-children-prop": 2,
    "react/forbid-prop-types": 2,
    "jsx-a22y/anchor-is-valid": 2,
    "react/react-in-jsx-scope": 2,
    "react/no-array-index-key": 2,
    "react/no-unused-prop-types": 2,
    "react-hooks/rules-of-hooks": 2,
    "no-promise-executor-return": 2,
    "no-unsafe-optional-chaining": 2,
    "react/require-default-props": 2,
    "react/no-unescaped-entities": 2,
    "import/prefer-default-export": 2,
    "react/jsx-props-no-spreading": 2,
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-useless-fragment": 2,
    "react/jsx-curly-brace-presence": 2,
    "react/destructuring-assignment": 2,
    "import/no-extraneous-dependencies": 2,
    "react/no-unstable-nested-components": 2,
    "react/function-component-definition": 2,
    "react/jsx-no-constructed-context-values": 2,
    "react/jsx-filename-extension": [
      2
    ],
    "import/extensions": "off",
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": false
      }
    ],
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ]
  }
}