{
  "root": true,
  "env": {
    "browser": false,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "prettier"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "rules": {
    "no-new": 1,
    "no-alert": 1,
    "no-shadow": 1,
    "no-console": 1,
    "react/jsx-key": 1,
    "import/no-cycle": 1,
    "arrow-body-style": 1,
    "react/prop-types": 1,
    "no-param-reassign": 1,
    "no-nested-ternary": 1,
    "default-param-last": 1,
    "no-use-before-define": 0,
    "no-underscore-dangle": 1,
    "no-extra-boolean-cast": 1,
    "react/button-has-type": 1,
    "no-restricted-exports": 1,
    "react/no-children-prop": 1,
    "react/forbid-prop-types": 1,
    "jsx-a22y/anchor-is-valid": 0,
    "react/react-in-jsx-scope": 1,
    "react/no-array-index-key": 1,
    "react/no-unused-prop-types": 1,
    "react-hooks/rules-of-hooks": 1,
    "no-promise-executor-return": 1,
    "no-unsafe-optional-chaining": 1,
    "react/require-default-props": 1,
    "react/no-unescaped-entities": 1,
    "import/prefer-default-export": 1,
    "react/jsx-props-no-spreading": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-useless-fragment": 1,
    "react/jsx-curly-brace-presence": 1,
    "react/destructuring-assignment": 1,
    "import/no-extraneous-dependencies": 1,
    "react/no-unstable-nested-components": 1,
    "react/function-component-definition": 1,
    "react/jsx-no-constructed-context-values": 1,
    "react/jsx-filename-extension": [
      0
    ],
    "import/extensions": "off",
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": false
      }
    ],
    "prefer-destructuring": [
      1,
      {
        "object": true,
        "array": false
      }
    ]
  }
}