<%- include('./partials/header') %>
<h1 style="text-align: center;">Login</h1>
<div style="display: flex; justify-content: center;">
    <form action="/login/1" method="GET">
        <input type="email" name="email" id="email" class="form-control my-2" placeholder="Enter email: " style="width: 100%;">
        <input type="password" name="password" class="form-control my-2" id="password" placeholder="Enter password: " style="width: 100%;">
        <button value="login" class="btn btn-lg btn-primary mx-5 my-2">Login</button>
    </form>
</div>
<%- include('./partials/footer') %>